@import "iconfont/iconfont.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  transition: all 0.1s;
}
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
strong {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  color: #494949;
  margin: 0 3px;
  padding: 3px 8px;
  background-color: #F6F6F6;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}
strong:hover {
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
body {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #eee;
}
.pdf {
  display: inline-block;
  position: fixed;
  bottom: 6px;
  left: 50%;
  margin-left: 520px;
  padding: 0 8px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  background-color: #00b38a;
  transition: all 0.2s ease-in-out;
  animation: fade 1.6s;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.btn {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #00b38a;
  border-radius: 3px;
  font-family: Menlo, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  height: 20px !important;
  font-size: 14px !important;
  line-height: 18px !important;
  margin: 2px 0;
  text-align: center;
  color: #00b38a;
}
.btn:hover {
  background-color: #00b38a;
  color: #fff;
}
.content {
  width: 1024px;
  min-height: 1440px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.content-hd {
  color: white;
  background-color: #00b38a;
  padding: 30px 50px;
}
.content-hd a:hover {
  opacity: 0.8;
}
section.title {
  padding-bottom: 5px;
  border-bottom: 2px solid #00a982;
  margin-bottom: 10px;
}
section.title .name {
  float: left;
  width: 50%;
}
section.title .name h1 {
  font-size: 52px;
  letter-spacing: 5px;
}
section.title .name h1 small {
  margin-left: 5px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
}
section.title .job {
  height: inherit;
  float: right;
  width: 50%;
  text-align: right;
}
section.title .job h2 {
  font-weight: 300;
  font-size: 24px;
  display: inline-block;
}
section.info {
  float: left;
  width: 50%;
  font-size: 16px;
  line-height: 34px;
}
section.contact {
  text-align: right;
  float: right;
  width: 50%;
  font-size: 15px;
  line-height: 25px;
}
/* body */
.content-bd {
  padding: 8px 30px 50px;
  color: #444;
}
.content-bd .content-left,
.content-bd .content-right {
  padding: 15px 20px;
  width: 50%;
}
.content-bd .content-left {
  float: left;
}
.content-bd .content-right {
  float: right;
}
.content-bd .content-bd section {
  padding: 10px 18px;
}
.section-header {
  position: relative;
}
.section-header .section-title-l,
.section-header .section-title-r {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 35%;
  height: 0;
  border-top: 1px solid #ededed;
  vertical-align: middle;
}
.section-header .section-title-l:hover,
.section-header .section-title-r:hover {
  transform: scale(1.2);
  background-color: #ddd;
}
.section-header .section-title-l {
  left: 0;
}
.section-header .section-title-r {
  right: 0;
}
.section-header .section-title {
  position: relative;
  z-index: 1;
  width: 24%;
  min-width: 100px;
  margin: 0 auto;
  padding: 4px 10px;
  border-radius: 32px;
  font-size: 16px;
  text-align: center;
  background-color: #eee;
}
.section-header .section-title:hover {
  background-color: #ddd;
}
.content-bd .iconfont {
  color: #00a982;
}
.section-body {
  position: relative;
}
.content-bd {
  overflow: hidden;
}
.content-bd .item-hd {
  position: relative;
  padding: 0px 0 ;
  margin: 5px 0;
  font-weight: 500;
  line-height: 35px;
  overflow: hidden;
}
.content-bd .item-hd:hover {
  color: #222;
  background-color: #fafafa;
  transform: scale(1.005);
}
.content-bd .item-stage {
  color: #666;
  font-size: 13px;
}
.content-bd .item-time {
  float: left;
  display: inline-block;
  font-size: 14px;
  min-width: 125px;
  margin-right: 5px;
}
.content-bd .item-name {
  float: left;
  display: inline-block;
}
.content-bd .item-more {
  float: right;
  height: 22px;
}
.content-bd .item-qr {
  margin-bottom: -80px;
}
.content-bd .item-qr .item-qr-hd {
  float: left;
  position: relative;
  padding: 8px 0 5px;
  font-weight: 500;
  line-height: 32px;
}
.content-bd .item-qr .item-qr-code {
  float: right;
}
.content-bd .item-qr .item-qr-code img {
  width: 90px;
}
.content-bd .item-qr .item-qr-code img:hover {
  transform: scale(1.3);
}
.content-bd .item-qr .item-qr-code .qr-link {
  text-align: center;
  color: #aaa;
  display: block;
}
.content-bd .item-qr .item-qr-code .qr-link:hover {
  color: #333;
  text-decoration: underline;
}
#experience,
#award {
  margin-top: 30px;
}
.content-bd .section-header {
  margin: 20px 0;
}
#award .item-time {
  min-width: 50px;
}
#award .item-more {
  float: right;
}
.icon-link {
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
}
.icon-link:hover {
  background-color: #ddd;
}
.works-item {
  margin-top: 40px;
}
.works-item:first-child {
  margin-top: 0px;
}
footer {
  margin-top: 20px;
  display: block;
  text-align: center;
}
footer .footer-link {
  display: inline-block;
  color: #aaa;
}
footer .footer-link:hover {
  background-color: #e6e6e6;
}
footer .footer-link .iconfont {
  vertical-align: middle;
  margin-right: 2px;
  padding: 0px;
}
footer .footer-link .iconfont:hover {
  background-color: initial;
}
@media screen and (max-width: 1024px) {
  body {
    padding-top: 0;
  }
  .content {
    border-radius: 0;
    width: 100%;
  }
  .content-bd .content-left,
  .content-bd .content-right {
    width: 100%;
  }
  section.info {
    width: 100%;
    text-align: center;
  }
  section.contact {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  section.contact li {
    margin-left: 20px;
    display: inline-block;
  }
  section.contact li span {
    display: none;
  }
  section.contact li i {
    font-size: 35px;
  }
  section.title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #00a982;
    font-size: 52px;
  }
  section.title .name {
    text-align: center;
    width: 100%;
  }
  section.title .name small {
    display: block;
    width: 100%;
  }
  section.title .job {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1246px) {
  .pdf {
    left: auto;
    right: 8px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 720px) {
  strong {
    padding: 1px 2px;
  }
  .content-bd {
    padding: 5px  ;
  }
  .content {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .content-hd {
    padding: 25px;
  }
}
